<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/pad</url-pattern>
			<url-pattern>/pad/*.html</url-pattern></web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name></auth-constraint></security-constraint><welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>

	<servlet>
		<servlet-class>com.silverwzw.gae.tools.pad_emulator.Pad</servlet-class>
		<servlet-name>PAD</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>PAD</servlet-name>
		<url-pattern>/api.php</url-pattern></servlet-mapping>
	<servlet>
		<servlet-class>com.silverwzw.gae.tools.pad_emulator.PublicDataPage</servlet-class>
		<servlet-name>PublicDataPage</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>PublicDataPage</servlet-name>
		<url-pattern>/pad.public</url-pattern></servlet-mapping>
	<servlet>
		<servlet-class>com.silverwzw.gae.tools.pad_emulator.Proxy</servlet-class>
		<servlet-name>NA_Proxy</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/pad-na-adr.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/pad.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/base.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/base-na-adr.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/base-na.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/pad-na.json</url-pattern></servlet-mapping>
	<servlet>
	<servlet-class>com.silverwzw.gae.tools.pad_emulator.PadIndex</servlet-class>
		<servlet-name>PAD_UI_INDEX</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>PAD_UI_INDEX</servlet-name>
		<url-pattern>/pad</url-pattern></servlet-mapping>
</web-app>