<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/pad</url-pattern></web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name></auth-constraint></security-constraint><welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list><servlet>
		<servlet-name>cc98redirect</servlet-name>
		<servlet-class>com.silverwzw.gae.tools.rss.CC98Redirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cc98redirect</servlet-name>
		<url-pattern>/cc98top10</url-pattern>
	</servlet-mapping>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>RespLookup</servlet-name>
 	<servlet-class>com.silverwzw.gae.tools.resplookup.RespLookup</servlet-class></servlet>
 <servlet-mapping>
 	<servlet-name>RespLookup</servlet-name>
 	<url-pattern>/resplookup</url-pattern></servlet-mapping>
 <servlet>
 	<servlet-name>jmp</servlet-name>
 	<servlet-class>com.silverwzw.gae.tools.jmp.Jmp</servlet-class></servlet>
 <servlet-mapping>
 	<servlet-name>jmp</servlet-name>
 	<url-pattern>/jmp</url-pattern></servlet-mapping>
 
 <servlet>
 	<servlet-name>login</servlet-name>
 	<servlet-class>com.silverwzw.gae.tools.Login</servlet-class></servlet><servlet-mapping>
 	<url-pattern>/login</url-pattern>
 	<servlet-name>login</servlet-name></servlet-mapping>
	<servlet>
		<servlet-class>com.silverwzw.gae.tools.log.Log</servlet-class>
		<servlet-name>Log</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>Log</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>pac</servlet-name>
		<servlet-class>com.silverwzw.gae.tools.pac.Pac</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>pac</servlet-name>
		<url-pattern>/pac</url-pattern></servlet-mapping>
	<servlet>
		<servlet-class>com.silverwzw.gae.tools.pad_emulator.Pad</servlet-class>
		<servlet-name>PAD</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>PAD</servlet-name>
		<url-pattern>/api.php</url-pattern></servlet-mapping>
	<servlet>
		<servlet-class>com.silverwzw.gae.tools.pad_emulator.Na_proxy</servlet-class>
		<servlet-name>NA_Proxy</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/pad-na-adr.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/base-na-adr.json</url-pattern></servlet-mapping>
	<servlet-mapping>
		<servlet-name>NA_Proxy</servlet-name>
		<url-pattern>/base-na.json</url-pattern></servlet-mapping><servlet-mapping>
	<servlet-name>NA_Proxy</servlet-name>
	<url-pattern>/pad-na.json</url-pattern></servlet-mapping><servlet>
		<servlet-class>com.silverwzw.gae.tools.pad_emulator.PadIndex</servlet-class>
		<servlet-name>PAD_UI_INDEX</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>PAD_UI_INDEX</servlet-name>
		<url-pattern>/pad</url-pattern></servlet-mapping>
	
	<servlet>
		<servlet-class>com.silverwzw.gae.tools.rss.Rss</servlet-class>
		<servlet-name>Rss</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>Rss</servlet-name>
		<url-pattern>/rss</url-pattern></servlet-mapping></web-app>